<h1>New transfer</h1>

<%= render 'form' %>

<script type="text/javascript">
  $(document).keyup(function(e){
      if(e.keyCode == 13)() {
        $('#enterp').trigger('click');
        }
function validateForm()
{
var x=document.forms["new_transfer"]["fname"].value;
if (x==null || x=="")
  {
  alert("First name must be filled out");
  return false;
  }
}
  });
</script>


