<h1>New transfer</h1>

<%= render 'form' %>

<script type="text/javascript">

  $('select[name*="transfered_products"]').keyup(function(e){
  $("select").attr("id", function (arr) {
    return arr;
  })
  .each(function () {
    if(e.keyCode == 13) {
      $('#enterp').trigger('click');
    };
  });

  });
</script>


